<div class="hero__page">
    <div class="hero__text">
        <p>WELCOME TO YOUR</p>
        <h1>PERFECT RESTAURANT FINDER.</h1>
       <a href="#restaurants"> <button class="hero__btn">FIND ONE NOW</button></a>
    </div>
    <div class="hero__image"> 
<img src="https://www.transparentpng.com/download/sushi/AuVkWy-salmon-sushi-transparent-picture.png" data-original="/download/sushi/AuVkWy-salmon-sushi-transparent-picture.png" alt="Salmon Roll Sushi On Sticks" width="100%" class="responsive">
    </div>
</div>
<div id="bar"></div>
    <h1 id="rest__title">RESTAURANTS</h1>
    <p>Explore menus from a variety of cuisines.</p>
<section class="restaurants__page" id="restaurants">
    {{#each restaurants}}
            <a href="/restaurants/{{this.id}}">
                <article>
                   <img src="{{this.image}}" width="100%"/>
                   <div class="card__text">
                        <h2>{{this.name}}</h2>
                    <small>{{this.menus.length}} menus</small>
                </div>
            </article>
        </a>
    {{/each}}
</section>





</div>

<!--<img src="http://assets.stickpng.com/images/585ea761cb11b227491c3534.png" alt="Dried Red Chili" class="bg__image">-->